/* line 5, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 184, sprite/*.png */
.sprite-sprite, .sprite-arrow-bottom, .sprite-arrow-left-grey, .sprite-arrow-left-red, .sprite-arrow-right-grey, .sprite-arrow-right-red, .sprite-arrow-wh, .sprite-button-top-icon, .sprite-call-back-bl, .sprite-call-back-wh-md, .sprite-call-back-wh, .sprite-email-icon-bl, .sprite-email-icon-wh, .sprite-gear-bl, .sprite-gear-wh, .sprite-lang-arrow-bl, .sprite-lang-arrow-wh, .sprite-skype-icon-bl, .sprite-skype-icon-wh {
  background-image: url('../img/sprite-s555d0b53b3.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-arrow-bottom {
  background-position: 0 0;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-arrow-left-grey {
  background-position: 0 -16px;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-arrow-left-red {
  background-position: 0 -23px;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-arrow-right-grey {
  background-position: 0 -32px;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-arrow-right-red {
  background-position: 0 -39px;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-arrow-wh {
  background-position: 0 -48px;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-button-top-icon {
  background-position: 0 -55px;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-call-back-bl {
  background-position: 0 -72px;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-call-back-wh-md {
  background-position: 0 -116px;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-call-back-wh {
  background-position: 0 -165px;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-email-icon-bl {
  background-position: 0 -206px;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-email-icon-wh {
  background-position: 0 -223px;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-gear-bl {
  background-position: 0 -240px;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-gear-wh {
  background-position: 0 -278px;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-lang-arrow-bl {
  background-position: 0 -316px;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-lang-arrow-wh {
  background-position: 0 -331px;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-skype-icon-bl {
  background-position: 0 -342px;
}

/* line 84, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-skype-icon-wh {
  background-position: 0 -360px;
}

/* line 1, ../scss/_base.scss */
html {
  font-family: "Roboto-Light", sans-serif;
  font-size: 20px;
}

/* line 5, ../scss/_base.scss */
img {
  max-width: 100%;
}

/* line 7, ../scss/_base.scss */
.wrap {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media only screen and (min-width: 1171px) and (max-width: 1365px) {
  /* line 7, ../scss/_base.scss */
  .wrap {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media only screen and (min-width: 971px) and (max-width: 1169px) {
  /* line 7, ../scss/_base.scss */
  .wrap {
    padding-left: 5em;
    padding-right: 5em;
  }
}
@media only screen and (min-width: 641px) and (max-width: 969px) {
  /* line 7, ../scss/_base.scss */
  .wrap {
    padding-left: 4em;
    padding-right: 4em;
  }
}
@media only screen and (min-width: 401px) and (max-width: 639px) {
  /* line 7, ../scss/_base.scss */
  .wrap {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media only screen and (max-width: 399px) {
  /* line 7, ../scss/_base.scss */
  .wrap {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
/* line 1, ../scss/component/_button.scss */
.btn {
  background: #e10f21;
  font-family: "Roboto-Regular", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: .8em;
  line-height: 1;
  padding: 1em 2em;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 1;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  display: block;
  border: none;
  max-width: 11em;
  box-sizing: border-box;
  text-align: center;
}
/* line 57, ../scss/_global.scss */
.btn::after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  content: '';
  position: absolute;
  z-index: -1;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
/* line 68, ../scss/_global.scss */
.btn:hover {
  color: #e10f21;
  background: none;
}
/* line 71, ../scss/_global.scss */
.btn:hover::after {
  width: 100%;
}
/* line 72, ../scss/_global.scss */
.btn:hover i {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate3d(-53px, 0, 0);
  -ms-transform: translate3d(-53px, 0, 0);
  -webkit-transform: translate3d(-53px, 0, 0);
  transform: translate3d(-53px, 0, 0);
  opacity: 0;
}
/* line 78, ../scss/_global.scss */
.btn i {
  position: absolute;
  background: #ffffff;
  width: 30px;
  height: 1px;
  right: -17px;
  top: 29px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 1, ../scss/layout/_header.scss */
.header {
  background: #323637;
}
